body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: #0f172a;
  color: white;
}

.todo-container {
  background: #1e293b;
  padding: 20px;
  width: 550px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

input {
  background-color: #0f172a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%);
  cursor: pointer;
}
